{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CRMS</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-icon.png' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabler-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/simplebar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="app-style">
    <link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
<style>
	
/* Sidebar menu */
.sidebar-menu > ul > li > a {
    min-height: 38px !important;
    height: 38px !important;
    padding: 5px 12px !important;

    display: flex !important;
    align-items: center !important;

    border-radius: 6px !important;
    font-size: 14px !important;

    color: #212529 !important;
}

/* Normal icon box */
.sidebar-menu > ul > li > a i {
    width: 20px !important;
    height: 24px !important;
    min-width: 20px !important;

    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;

    background-color: #f5f6f7 !important;
    color: #343a40 !important;

    border-radius: 4px !important;

    font-size: 13px !important;

    margin-right: 9px !important;
}

/* Normal text */
.sidebar-menu > ul > li > a span {
    color: #212529 !important;
}

/* Hover */
.sidebar-menu > ul > li > a:hover {
    background-color: #f8f9fa !important;
}

.sidebar-menu > ul > li > a:hover i {
    color: #212529 !important;
}

/* Active Dashboard */
.sidebar-menu > ul > li > a.active {
    background-color: #fde9e7 !important;
    color: #f04438 !important;

    border-left: none !important;
}

/* Active Dashboard icon */
.sidebar-menu > ul > li > a.active i {
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;

    background-color: #f04438 !important;
    color: #ffffff !important;

    border-radius: 4px !important;
    font-size: 13px !important;

    margin-right: 9px !important;
}

/* Active text */
.sidebar-menu > ul > li > a.active span {
    color: #f04438 !important;
}

/* Remove red vertical line */
.sidebar-menu > ul > li > a.active::before {
    display: none !important;
}

/* Menu item gap */
.sidebar-menu > ul > li {
    margin-bottom: 2px !important;
}
</style>
</head>

<body>

    		<!-- Topbar Start -->
		<header class="navbar-header">
			<div class="page-container topbar-menu">
				<div class="d-flex align-items-center gap-2">

					<!-- Logo -->
					<a href="index.html" class="logo">

						<!-- Logo Normal -->
						<span class="logo-light">
							<span class="logo-lg"><img src="{% static 'images/logo.svg' %}" alt="logo"></span>
							<span class="logo-sm"><img src="{% static 'images/logo-small.svg' %}" alt="small logo"></span>
						</span>

						<!-- Logo Dark -->
						<span class="logo-dark">
							<span class="logo-lg"><img src="{% static 'images/logo-white.svg' %}" alt="dark logo"></span>
						</span>
					</a>

					<!-- Sidebar Mobile Button -->
					<a id="mobile_btn" class="mobile-btn" href="#sidebar">
						<i class="ti ti-menu-deep fs-24"></i>
					</a>

					<button class="sidenav-toggle-btn btn border-0 p-0" id="toggle_btn2">
						<i class="ti ti-arrow-bar-to-right"></i>
					</button>

					<!-- Search -->
					<div class="me-auto d-flex align-items-center header-search d-lg-flex d-none">
						<!-- Search -->
						<div class="input-icon position-relative me-2">
							<input type="text" class="form-control" placeholder="Search Keyword">
							<span class="input-icon-addon d-inline-flex p-0 header-search-icon"><i class="ti ti-command"></i></span>
						</div>
						<!-- /Search -->
					</div>

				</div>

				<div class="d-flex align-items-center">

					<!-- Search for Mobile -->
					<div class="header-item d-flex d-lg-none me-2">
						<button class="topbar-link btn" data-bs-toggle="modal" data-bs-target="#searchModal" type="button">
							<i class="ti ti-search fs-16"></i>
						</button>
					</div>


					<!-- Minimize -->
					<div class="header-item">
						<div class="dropdown me-2">
							<a href="javascript:void(0);" class="btn topbar-link btnFullscreen"><i class="ti ti-maximize"></i></a>
						</div>
					</div>
					<!-- Minimize -->

					<!-- Light/Dark Mode Button -->
					<div class="header-item d-none d-sm-flex me-2">
						<button class="topbar-link btn topbar-link" id="light-dark-mode" type="button">
							<i class="ti ti-moon fs-16"></i>
						</button>
					</div>

					<!-- pages -->
					<div class="header-item d-none d-sm-flex">
						<div class="dropdown me-2">
							<a href="javascript:void(0);" class="btn topbar-link topbar-teal-link" data-bs-toggle="dropdown">
								<i class="ti ti-layout-grid-add"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-end dropdown-menu-md p-2">

								<!-- Item-->
								<a href="contacts.html" class="dropdown-item">
									<div class="d-flex align-items-center justify-content-between">
										<div>
											<span class="d-flex mb-1 fw-semibold text-dark">Contacts</span>
											<span class="fs-13">View All the Contacts</span>
										</div>
										<i class="ti ti-chevron-right-pipe text-dark"></i>
									</div>
								</a>

								<!-- Item-->
								<a href="pipeline.html" class="dropdown-item">
									<div class="d-flex align-items-center justify-content-between">
										<div>
											<span class="d-flex mb-1 fw-semibold text-dark">Pipeline</span>
											<span class="fs-13">View All the Pipeline</span>
										</div>
										<i class="ti ti-chevron-right-pipe text-dark"></i>
									</div>
								</a>

								<!-- Item-->
								<a href="activities.html" class="dropdown-item">
									<div class="d-flex align-items-center justify-content-between">
										<div>
											<span class="d-flex mb-1 fw-semibold text-dark">Activities</span>
											<span class="fs-13">Activities</span>
										</div>
										<i class="ti ti-chevron-right-pipe text-dark"></i>
									</div>
								</a>

								<!-- Item-->
								<a href="analytics.html" class="dropdown-item">
									<div class="d-flex align-items-center justify-content-between">
										<div>
											<span class="d-flex mb-1 fw-semibold text-dark">Analytics</span>
											<span class="fs-13">Analytics</span>
										</div>
										<i class="ti ti-chevron-right-pipe text-dark"></i>
									</div>
								</a>

							</div>
						</div>
					</div>

					<!-- faq -->
					<div class="header-item d-none d-sm-flex">
						<div class="dropdown me-2">
							<a href="faq.html" class="btn topbar-link topbar-indigo-link"><i class="ti ti-help-hexagon"></i></a>
						</div>
					</div>

					<!-- report -->
					<div class="header-item d-none d-sm-flex">
						<div class="dropdown me-2">
							<a href="lead-reports.html" class="btn topbar-link topbar-warning-link"><i class="ti ti-chart-pie"></i></a>
						</div>
					</div>

					<div class="header-line"></div>

					<!-- message -->
					<div class="header-item">
						<div class="dropdown me-2">
							<a href="chat.html" class="btn topbar-link">
								<i class="ti ti-message-circle-exclamation"></i>
								<span class="badge rounded-pill">&nbsp;</span>
							</a>
						</div>
					</div>

					<!-- Notification Dropdown -->
					<div class="header-item">
						<div class="dropdown me-2">

							<button class="topbar-link btn topbar-link dropdown-toggle drop-arrow-none" data-bs-toggle="dropdown" data-bs-offset="0,24" type="button" aria-haspopup="false" aria-expanded="false">
								<i class="ti ti-bell-check fs-18 animate-ring"></i>
								<span class="badge rounded-pill">&nbsp;</span>
							</button>

							<div class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-lg" style="min-height: 300px;">

								<div class="p-2 border-bottom">
									<div class="row align-items-center">
										<div class="col">
											<h6 class="m-0 fs-16 fw-semibold"> Notifications</h6>
										</div>
									</div>
								</div>

								<!-- Notification Body -->
								<div class="notification-body position-relative z-2 rounded-0" data-simplebar="">

									<!-- Item-->
									<div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-1">
										<div class="d-flex">
											<div class="me-2 position-relative flex-shrink-0">
												<img src="{% static 'images/user-01.jpg' %}" class="avatar-md rounded-circle" alt="Img">
											</div>
											<div class="flex-grow-1">
												<p class="mb-0 fw-medium text-dark">John Doe</p>
												<p class="mb-1 text-wrap">
													left 6 comments on <span class="fw-medium text-dark">Isla Nublar
														SOC2 compliance report</span>
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<span class="fs-12"><i class="ti ti-clock me-1"></i>4 min ago</span>
													<div class="notification-action d-flex align-items-center float-end gap-2">
														<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
														<button class="btn rounded-circle p-0" data-dismissible="#notification-1">
															<i class="ti ti-x"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- Item-->
									<div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-2">
										<div class="d-flex">
											<div class="me-2 position-relative flex-shrink-0">
												<img src="{% static 'images/user-12.jpg' %}" class="avatar-md rounded-circle" alt="Img">
											</div>
											<div class="flex-grow-1">
												<p class="mb-0 fw-medium text-dark">Thomas William</p>
												<p class="mb-1 text-wrap">
													“Oh, I finished de-bugging the phones, but the system's compiling
													for eighteen minutes, or twenty...”
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<span class="fs-12"><i class="ti ti-clock me-1"></i>8 min ago</span>
													<div class="notification-action d-flex align-items-center float-end gap-2">
														<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
														<button class="btn rounded-circle p-0" data-dismissible="#notification-2">
															<i class="ti ti-x"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- Item-->
									<div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-3">
										<div class="d-flex">
											<div class="me-2 position-relative flex-shrink-0">
												<img src="{% static 'images/avatar-12.jpg' %}" class="avatar-md rounded-circle" alt="Img">
											</div>
											<div class="flex-grow-1">
												<p class="mb-0 fw-medium text-dark">Sarah Anderson</p>
												<p class="mb-1 text-wrap">
													attached a file to <span class="fw-medium text-dark">Isla Nublar
														SOC2 compliance report</span>
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<span class="fs-12"><i class="ti ti-clock me-1"></i>15 min
														ago</span>
													<div class="notification-action d-flex align-items-center float-end gap-2">
														<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
														<button class="btn rounded-circle p-0" data-dismissible="#notification-3">
															<i class="ti ti-x"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- Item-->
									<div class="dropdown-item notification-item py-3 text-wrap" id="notification-4">
										<div class="d-flex">
											<div class="me-2 position-relative flex-shrink-0">
												<img src="{% static 'images/avatar-08.jpg' %}" class="avatar-md rounded-circle" alt="Img">
											</div>
											<div class="flex-grow-1">
												<p class="mb-0 fw-medium text-dark">Ann McClure</p>
												<p class="mb-1 text-wrap">
													mentioned you in <span class="fw-medium text-dark">Bug Fix Review -
														Task #432</span>
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<span class="fs-12"><i class="ti ti-clock me-1"></i>20 min
														ago</span>
													<div class="notification-action d-flex align-items-center float-end gap-2">
														<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
														<button class="btn rounded-circle p-0" data-dismissible="#notification-4">
															<i class="ti ti-x"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>

								<!-- View All-->
								<div class="p-2 rounded-bottom border-top text-center">
									<a href="notifications.html" class="text-center text-decoration-underline fs-14 mb-0">
										View All Notifications
									</a>
								</div>

							</div>
						</div>
					</div>

					<!-- User Dropdown -->
					<div class="dropdown profile-dropdown d-flex align-items-center justify-content-center">
						<a href="javascript:void(0);" class="topbar-link dropdown-toggle drop-arrow-none position-relative" data-bs-toggle="dropdown" data-bs-offset="0,22" aria-haspopup="false" aria-expanded="false">
							<img src="{% static 'images/user-40.jpg' %}" width="38" class="rounded-1 d-flex" alt="user-image">
							<span class="online text-success"><i class="ti ti-circle-filled d-flex bg-white rounded-circle border border-1 border-white"></i></span>
						</a>
						<div class="dropdown-menu dropdown-menu-end dropdown-menu-md p-2">

							<div class="d-flex align-items-center bg-light rounded-3 p-2 mb-2">
								<img src="{% static 'images/user-40.jpg' %}" class="rounded-circle" width="42" height="42" alt="Img">
								<div class="ms-2">
									<p class="fw-medium text-dark mb-0">Katherine Brooks</p>
									<span class="d-block fs-13">Installer</span>
								</div>
							</div>

							<!-- Item-->
							<a href="profile-settings.html" class="dropdown-item">
								<i class="ti ti-user-circle me-1 align-middle"></i>
								<span class="align-middle">Profile Settings</span>
							</a>

							<!-- item -->
							<div class="form-check form-switch form-check-reverse d-flex align-items-center justify-content-between dropdown-item mb-0">
								<label class="form-check-label" for="notify"><i class="ti ti-bell"></i>Notifications</label>
								<input class="form-check-input me-0" type="checkbox" role="switch" id="notify">
							</div>

							<!-- Item-->
							<a href="javascript:void(0);" class="dropdown-item">
								<i class="ti ti-help-circle me-1 align-middle"></i>
								<span class="align-middle">Help &amp; Support</span>
							</a>

							<!-- Item-->
							<a href="profile-settings.html" class="dropdown-item">
								<i class="ti ti-settings me-1 align-middle"></i>
								<span class="align-middle">Settings</span>
							</a>

							<!-- Item-->
							<div class="pt-2 mt-2 border-top">
								<a href="login.html" class="dropdown-item text-danger">
									<i class="ti ti-logout me-1 fs-17 align-middle"></i>
									<span class="align-middle">Sign Out</span>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</header>

        <div class="sidebar" id="sidebar">

    <div class="sidebar-logo">
        <a href="index.html" class="logo logo-normal">
            <img src="{% static 'images/logo.svg' %}" alt="Logo">
        </a>

        <a href="index.html" class="logo-small">
            <img src="{% static 'images/logo-small.svg' %}" alt="Logo">
        </a>

        <a href="index.html" class="dark-logo">
            <img src="{% static 'images/logo-white.svg' %}" alt="Logo">
        </a>
    </div>

<div id="sidebar-menu" class="sidebar-menu">
    <ul>

        <li class="menu-title">
            <span>Main Menu</span>
        </li>


        <!-- Dashboard -->
        <li>
            <a href="/dashboard/"
               class="{% if request.path == '/dashboard/' %}active{% endif %}">

                <i class="ti ti-layout-dashboard"></i>

                <span>Dashboard</span>

            </a>
        </li>


        <!-- Leads -->
        <li>
            <a href="/leads/"
               class="{% if request.path == '/leads/' %}active{% endif %}">

                <i class="ti ti-users"></i>

                <span>Leads</span>

            </a>
        </li>


        <!-- Deals -->
        <li>
            <a href="/deals/"
               class="{% if request.path == '/deals/' %}active{% endif %}">

                <i class="ti ti-bolt"></i>

                <span>Deals</span>

            </a>
        </li>


        <!-- Contacts -->
        <li>
            <a href="/contacts/"
               class="{% if request.path == '/contacts/' %}active{% endif %}">

                <i class="ti ti-user-square-rounded"></i>

                <span>Contacts</span>

            </a>
        </li>


        <!-- Organizations -->
        <li>
            <a href="/organizations/"
               class="{% if request.path == '/organizations/' %}active{% endif %}">

                <i class="ti ti-building"></i>

                <span>Organizations</span>

            </a>
        </li>


<!-- Notes -->
<li>
    <a href="/notes/" class="{% if request.path == '/notes/' %}active{% endif %}">
        <i class="ti ti-file-description"></i>
        <span>Notes</span>
    </a>
</li>

<!-- Tasks -->
<li>
    <a href="/tasks/" class="{% if request.path == '/tasks/' %}active{% endif %}">
        <i class="ti ti-circle-check"></i>
        <span>Tasks</span>
    </a>
</li>

		<li>
    <a href="/calls/" class="{% if request.path == '/calls/' %}active{% endif %}">
        <i class="ti ti-phone"></i>
        <span>Call Logs</span>
    </a>
</li>

<li>
    <a href="/settings/"
       class="{% if request.path == '/settings/' %}active{% endif %}">

        <i class="ti ti-settings"></i>

        <span>Settings</span>

    </a>
</li>


        <!-- Login -->
        <li>
            <a href="/">

                <i class="ti ti-login"></i>

                <span>Login</span>

            </a>
        </li>

    </ul>
</div>
        </div>
    </div>

</div>


    {% block content %}
    {% endblock %}

	<!-- Bootstrap Core JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Simplebar JS -->
<script src="{% static 'js/simplebar.min.js' %}"></script>

<!-- Datatable JS -->
<script src="{% static 'js/dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>

<!-- Apexchart JS -->
<script src="{% static 'js/apexcharts.min.js' %}"></script>
<script src="{% static 'js/chart-data.js' %}"></script>

<!-- Custom Json JS -->

<!-- Flatpickr JS -->
<script src="{% static 'js/flatpickr.min.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/lead-project.js' %}"></script>
</body>
</html>